*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.clock{
    background: #333;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.clock-time,
.clock-ampm{
    color: white;
    font-size: 30px;
}

.clock-time{
    font-size: 48px;
}

.clockcontainer{
    position: absolute;
    top: 43%;
    left: 44%;
    display: flex;
    justify-content: center;
    align-self: center;
}